.header {
    animation: header 4s linear 0s infinite alternate none;
}

@keyframes header {
    from {
        background-color: red;
    }
    to {
        background-color: rgb(0, 255, 255);
    }
}