* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.construction {
    height: 100%;
    text-align: center;
    height: 100%;
    position: relative;
}

.construction img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
