.book-holder {
    max-width: 350px;
    min-width: 200px;
}
.book-holder img {
    width: 100%;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.intro {
    width: 100%;
}